{% extends "layout.html" %}
{% block title %}Edit_{{sno}}{% endblock %}
{% block body %}
<div class="container">
  <h1>{{params['editheading']}}</h1>
  <form class="m-4" action="/operation/{{sno}}" method="POST">
    <label for="title">Change Title</label>
    <div class="col-sm-10 m-2">
      <input type="text" class="form-control" id="title" name="title" value="{{posts.title}}">
    </div>
    <label for="descr">Change Description</label>
    <div class="col-sm-10 m-2">
      <textarea class="form-control" id="descr" name="descr" style="margin-top: 0px; margin-bottom: 0px; height: 165px;">{{posts.descr}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
  </form>
</div>

{% endblock %}